@model Web.Models.Auth.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

@section Stylesheets
{
    <link rel="stylesheet" href="~/dist/login.bundle.css">
}

<div class="h-100 d-flex justify-content-center align-items-center" id="Login">
    <div class="container col-md-6 col-xl-5">
        <h1 class="text-center mt-3 font-weight-bolder">Welkom op Bumbo Workpages</h1>
        <img src="/img/bumbo_logo.png" class="img-fluid mx-auto d-block rounded m-4 col-5" alt="Bumbo logo">
        <div class="card rounded-wrapper mx-auto p-4">
            <form method="post">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "validation-summary-errors text-danger d-block" })
                
                <label asp-for="@Model.LicencePlate" class="font-weight-bolder"></label>
                <div class="input-container email-field">
                    <input asp-for="@Model.LicencePlate" class="form-control shadow-none" />
                </div>
                <span asp-validation-for="@Model.LicencePlate" class="text-danger d-block"></span>
                <label asp-for="@Model.Code" class="font-weight-bolder mt-3"></label>
                <div class="input-container password-field">
                    <input asp-for="@Model.Code" class="form-control shadow-none" />
                </div>
                <span asp-validation-for="@Model.Code" class="text-danger d-block"></span>

                <div class="d-flex justify-content-center mt-3">
                    <button class="btn btn-primary default-button shadow-none w-50" type="submit">Login</button>
                </div>
            </form>
        </div>
        <div class="m-5"></div>
    </div>
</div>
