@model Web.ViewModels.RegisterViewModel
@await Html.PartialAsync("_ValidationScriptsPartial")

@{
    ViewData["Title"] = "Register";
}

<form asp-controller="Register" asp-action="RegisterPirate" method="POST">
    @Html.AntiForgeryToken()
    <div class="form-group d-flex flex-column">
        <label asp-for="@Model.LicensePlate"></label>
        <input asp-for="@Model.LicensePlate" class="form-control">
        <span asp-validation-for="@Model.LicensePlate" class="text-danger"></span>
    </div>
    <div class="form-group d-flex flex-column">
        <label asp-for="@Model.Code"></label>
        <input asp-for="@Model.Code" class="form-control">
        <span asp-validation-for="@Model.Code" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>