@model Web.ViewModels.RegisterShip.WingsViewModel

@{
    ViewData["Title"] = "Choose Wings";
}

<h1>@ViewData["Title"]</h1>

@Html.ValidationSummary(false, "", new {@class = "text-danger"})

<form asp-controller="RegisterShip" asp-action="Wings" method="POST">
    <input asp-for="HullId">
    <input asp-for="EngineId">
    <input asp-for="MaximumTakeoffMass">

    @for (var i = 0; i < Model.SelectedWings.Length; i++)
    {
        <div class="p-3">
            <h2>Wing @(i + 1)</h2>
            @Html.DropDownListFor(m => m.SelectedWings[i], new SelectList(Model.GetSelectableAvailableWings(), "Value", "Text"), new {@class = "form-control"})

            <h3>Select Weapons</h3>
            @Html.ListBoxFor(m => m.SelectedWeapons[i], new MultiSelectList(Model.GetSelectableAvailableWeapons(), "Value", "Text"), new {@class = "form-control"})
        </div>
    }

    <button type="submit" class="btn btn-dark my-3">Submit</button>
</form>